@using Resume.Views;
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model EditBiographyViewModel

@{
    ViewData["Title"] = SharedLocalizer["EditBiography"];
}

<form asp-action="SaveBiography" method="post">
    <div class="editor">
        <div class="editor-menubar">
            <div class="menubar-rightline">
                <button type="submit"><i class="fa fa-floppy-o"></i></button>
            </div>
            <div class="menubar-rightline">
                <button type="button"><i class="fa fa-italic set-italic-js"></i></button>
                <button type="button"><i class="fa fa-bold set-bold-js"></i></button>
                <button type="button"><i class="fa fa-strikethrough set-strikethrough-js"></i></button>
                <button type="button"><i class="fa fa-underline set-underline-js"></i></button>
            </div>
            <div class="menubar-rightline">
                <button type="button"><i class="fa fa-align-center align-center-js"></i></button>
                <button type="button"><i class="fa fa-align-left align-left-js"></i></button>
                <button type="button"><i class="fa fa-align-right align-right-js"></i></button>
                <button type="button"><i class="fa fa-align-justify align-justify-js"></i></button>
            </div>
            <div class="menubar-rightline h-icon">
                <button type="button" class="set-h2-js">H1</button>
                <button type="button" class="set-h3-js">H2</button>
                <button type="button" class="set-h3-js">H3</button>
            </div>
            <div class="menubar-rightline h-icon">
                <button type="button" class="add-quote-js"><i class="fa fa-quote-right"></i></button>
            </div>
            <div class="menubar-group">
                <button type="button" class="add-link-js"><i class="fa fa-link"></i></button>
            </div>
        </div>
        <textarea asp-for="@Model.Markdown" rows="20" class="editor-textarea"></textarea>
    </div>
</form>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/editorMenubar.js" asp-append-version="true"></script>
}