@inject IViewLocalizer Localizer
@model EditBiographyViewModel

@{
    ViewData["Title"] = Localizer["EditBiography"];
}
<form asp-action="SaveBiography" method="post">
    <div class="editor-container">

        <div class="editor-menubar">
            <div class="rightline-menubar">
                <button type="submit"><i class="fa fa-floppy-o"></i></button>
            </div>
            <div class="rightline-menubar">
                <button onclick="setItalic()" type="button"><i class="fa fa-italic"></i></button>
                <button onclick="setBold()" type="button"><i class="fa fa-bold"></i></button>
                <button onclick="setStrikethrough()" type="button"><i class="fa fa-strikethrough"></i></button>
                <button onclick="setUnderline()" type="button"><i class="fa fa-underline"></i></button>
            </div>
            <div class="rightline-menubar">
                <button onclick="alignCenter()" type="button"><i class="fa fa-align-center"></i></button>
                <button onclick="alignLeft()" type="button"><i class="fa fa-align-left"></i></button>
                <button onclick="alignRight()" type="button"><i class="fa fa-align-right"></i></button>
                <button onclick="alignJustify()" type="button"><i class="fa fa-align-justify"></i></button>
            </div>
            <div class="rightline-menubar h-icon">
                <button onclick="setH2()" type="button">H1</button>
                <button onclick="setH3()" type="button">H2</button>
                <button onclick="setH4()" type="button">H3</button>
                @*<button onclick="setUl()"><i class="fa fa-list-ul"></i></button>
                <button onclick="setOl()"><i class="fa fa-list-ol"></i></button>*@
            </div>
            <div class="rightline-menubar h-icon">
                <button onclick="addQuote()" type="button"><i class="fa fa-quote-right"></i></button>
            </div>
            <div class="menubar-group">
                <button onclick="addLink()" type="button"><i class="fa fa-link"></i></button>
                @*                <button type="button"><i class="fa fa-file-image-o"></i></button>*@
            </div>
        </div>
        <textarea class="editor-textarea" rows="20" asp-for="@Model.Markdown"></textarea>
    </div>
</form>

@*<form enctype="multipart/form-data" method="post">
    <input asp-for="@Model.NewFile" type="file">
    <span asp-validation-for="@Model.NewFile"></span>
    <input asp-page-handler="Upload" type="submit" value="Upload" />
</form>*@

@section scripts {
    <script src="~/js/editorMenubar.js" asp-append-version="true"></script>
}

