@using Resume.Views;
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model ContactViewModel

@{
    ViewData["Title"] = @SharedLocalizer["Contact"];
}

<div class="contacts">
    @if (Model.Contact.Name is not null)
    {
        <p class="contact">
            <span class="fa fa-user contact-icon"
                  aria-hidden="true"></span>
            @Model.Contact.Name
        </p>
    }
    @if (Model.Contact.TelephoneNumber is not null)
    {
        <p class="contact">
            <span class="fa fa-phone contact-icon"
                  aria-hidden="true"></span>
            <a href="tel:@Model.Contact.TelephoneNumber">@Model.Contact.TelephoneNumber</a>
        </p>
    }
    @if (Model.Contact.Email is not null)
    {
        <p class="contact">
            <span class="fa fa-envelope contact-icon"
                  aria-hidden="true"></span>
            <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
        </p>
    }
</div>