@import "_vars.scss";
@import "_parents.scss";
@import "_mixins.scss";

/** {
    border: 1px solid grey;
}*/

/*------------------ TAGS --------------------*/

html {
    font-family: $text-f;
    font-size: 100%;
}

header {
    padding: 0 $max-o 0 $max-o;
    width: min-content;
}

body {
    display: flex;
    min-height: 100vh;
}

input, textarea {
    padding: $input-p;
    resize: vertical;
}

/*------------------ BOX SHADOW --------------------*/
#storage-file-toolbar, .storage-image, .edit-portfolio-image, .work-image, .edit-work-image {
    box-shadow: $storage-toolbar-bs;
}

/*------------------ CURSOR --------------------*/
button:enabled, .dropdown-title, .dropdown-choice, .login-link, .storage-file, .input-file-button, .edit-work-input label {
    &:hover {
        cursor: pointer;
    }
}

/*------------------ BORDER CORNER --------------------*/

input, textarea, %blue-button, .dropdown-menu, #storage-file-toolbar, #storage-file-toolbar button, .storage-edit-file-name, .input-file-button, .add-work-link {
    border-radius: $border-radius;
}

/*------------------ TEXT --------------------*/
header, %button-base, .dropdown, .work-title, .login-link, .edit-portfolio-title, .add-work-link, .input-file {
    text-transform: uppercase;
}

header a, .profile-dropdown-container a, .social-list a, .work-link, .login-link a {
    text-decoration: none;
}

.h-icon button {
    font-weight: 600;
}

.contacts-container p, .biography-container {
    margin: 0 0 1em 0;
    text-align: justify;
}

/*------------------ EFFECT --------------------*/
.work-link {
    transition: opacity .3s;

    &:hover {
        opacity: 0.7;
        color: $font-c;
    }
}

a:hover, .dropdown-title:hover, .dropdown-menu button:hover, .dropdown-choice:hover, .work-comment, .edit-portfolio-comment, %blue-button:enabled:hover, %icon-button:hover, %icon-button:hover .login-link:hover, #storage-file-toolbar button:hover i, .input-file:hover {
    transition: all .3s;
    opacity: 0.6;
}
/*------------------ COLOR --------------------*/
html, a, %button-base, .login-container, .edit-work-label {
    color: $font-c;
}

.dropdown-menu, .dropdown-menu button {
    background-color: white;
}

header, %blue-button, #storage-file-toolbar button, #storage-file-toolbar, .input-file-button, .add-work-button, .add-work-link {
    background-color: $background-c;
}

.logout-button {
    background-color: transparent;
}

.validation-summary-errors, .field-validation-error {
    color: $red-c;
}

input, textarea, .storage-edit-file-name {
    border: 1px solid $font-c;

    &:focus {
        outline: 1px solid $font-c;
    }

    &.input-validation-error, &.input-validation-error:focus {
        border: 1px solid $red-c;
    }
}

.upload-storage-file-button:disabled {
    background-color: $disable-c;
}

/*------------------ FONT --------------------*/
h1, h2, h3, h4, h5, h6, header, %button-base, .dropdown, .work-title, .login-link, .edit-portfolio-title, .edit-work-label, .add-work-link, .input-file {
    font-family: $title-f;
}

/*------------------ FONT SIZE AND TEXT LINE --------------------*/
.author-name-title, .work-title {
    @include font-size($title-fs, $title-fs);
}

.dropdown, .dropdown-icon, .profile-dropdown-container a, .login-link {
    @include font-size($dropdown-fs, $dropdown-fs);
}

.social-list, .nav-list {
    @include font-size($list-fs, $list-fs);
}

.editor-menubar {
    @include font-size($editbar-icon-fs, $editbar-icon-fs);
}

#storage-file-toolbar {
    @include font-size($file-toolbar-icon-fs, $file-toolbar-icon-fs);
}

.work-description, .work-comment, .contacts-container p, .biography-container, .storage-file-name, .edit-portfolio-text, textarea {
    @include font-size($text-fs, $text-tl);
}

.contact-input-container {
    @include font-size($text-fs, $text-fs);
}

.contacts-container span, .contact-input-container span {
    @include font-size($contact-icon-fs, $contact-icon-fs);
}

.login-container {
    @include font-size($login-fs, $login-fs);
}

.login-container .validation-summary-errors {
    @include font-size($error-summary-fs, $error-summary-fs);
}

.login-container .field-validation-error {
    @include font-size($input-error-fs, $input-error-fs);
}

.input-file {
    @include font-size($file-input-fs, $file-input-fs);
}

.edit-work-label {
    @include font-size($edit-work-label-fs, $edit-work-label-fs);
}

.add-work-link {
    @include font-size($add-work-fs, $add-work-fs);
}
