@import "_vars.scss";

@mixin font-size($size, $line) {
    font-size: $size + 0em;
    line-height: $line;
}

@mixin square-size($size) {
    width: $size + 0em;
    height: $size + 0em;
}

@mixin grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}